/* Universal */

.page {
    margin: 0px 183px 0px 191px;
}

.content {
    overflow: auto;
}

.textStyle-RubikGreyLight {
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 57px;
    color: #B1B1B1;
}

.textStyle-RubikBlackStrong {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 76px;
    color: #000000;
}

.textStyle-RubikBlackLight {
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
    color: #5C5C5C;
}

.textStyle-RubikBlackLightSmall {
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
    color: #000000;
}

.buttonStyle {
    background: #FFFFFF;
    border: 2px solid #626262;
    transition-duration: 0.4s;
}

.buttonStyle:hover {
    background: #FFFFFF;
    border: 2px solid #626262;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Section 1 */
#homePage.hidden{
    display: none;
}

.homeButtonStyle {
    position: absolute;
    width: 279px;
    height: 52px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.homeIcon {
    padding-top: 357px;
}

.droneIcon {
    position: absolute;
    width: 95px;
    height: 95px;
    left: 86rem;
    top: 642px;
}

.kameraIcon {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 75rem;
    top: 858px;
    transform: rotate(12.35deg);
}

.webDevIcon {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 100rem;
    top: 812px;
}

/* Section 2: About Me */
#aboutMe{
    display: none;
}

#aboutMe.show {
    display: block;
}

.topSpace {
    margin-top: 8%;
}

.profilePict {
    margin-left: 3%;
    margin-right: 6%;
    width: 578px;
    height: 585px;
    float: left;
}

.helloDiv {
    margin-left: 77.4%;
    margin-bottom: 2%;
}

.section2ButtonStyle {
    float: right;
    margin-top: 3%;
    width: 279px;
    height: 52px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}